body {
    margin-left: 10%;
    margin-right: 10%;
}

header {
    display: none;
    background-color: blue;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;

}

main {
    text-align: center;
}
section {
    background-color: darkgrey;
    border: 1px dotted black;
    display:inline-block;
    max-width: 32.8%;
    margin-top: 100px;
    margin: 0;
    
}
footer {
    display: none;
}


@media screen and (max-width: 640px) {
    main {
        display: block;
    }
    section {
        display: block;
    }
    
}
@media screen and (min-width: 800px){
    header {
        display: block;
    }
    
}
@media print  {
    footer {
            background-color: brown;
            border: 1px solid black;
            height: 100px;
            font-size: 2em;
       
    }
    
}