body {
    margin-left: 10%;
    margin-right: 10%;
}

header {
    display: none;
    background-color: blue;
    align-items: center;
    height: 150px;
    justify-content: center;

}
main {
    display: flex;
}
section {
    background-color: darkgrey;
    border: 1px dotted black;
    margin: 0;
}
footer {
    display: none;
}



@media screen and (max-width: 640px) {
    main {
        display: block;
    }
    
}
@media screen and (min-width: 800px){
    header {
        display: flex;
    }
    
}

@media print  {
    footer {
        display:flex;
            align-items: center;
            justify-content: center;
            background-color: brown;
            border: 1px solid black;
            height: 100px;
            font-size: 2em;
       
    }
    
}