body {
    margin: 0% 10% 0% 10%;
}
header {
    display: none;
    background-color: blue;
    align-items: center;
    text-align: center;
    padding: 50px;
}
section {
    background-color: darkgrey;
    border: 1px dotted black;
    max-width: 100%;
    margin-top: 100px;
    margin: 0;   
}
footer {
    display: none;
}
@media screen and (min-width: 640px) {
    section {
        max-width: 31%;
        margin-top: 100px;
        margin: 0;
        float: left;        
    }    
}
@media screen and (min-width: 800px){
    header {
        display: block;
    }   
}
@media print  {
    footer {
            background-color: brown;
            border: 1px solid black;
            height: 100px;
            font-size: 2em;       
    }    
}